@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #222;
}

.active{
	border-bottom: 1px solid #ff7200 !important;
}

/* Menu */
.menu{
	background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../images/temp.jpg);
	background-position: center;
    background-size: cover;
    min-height: 120vh;
    /* height: 120vh; */
}


.navbar{
	background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    width: 100%;
    height: 75px;
    margin: auto;
}

.show{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
}


.navbar li a {
    text-decoration: none;
    color: #fff !important;
    font-family: Arial !important;
    font-weight: bold !important;
    transition: 0.4s ease-in-out !important;
}
.navbar li a:hover {
    color: #ff7200 !important;
}

.dropdown-menu{
	background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%) !important;
}


.navbar-brand{
    color: #ff7200 !important;
    font-size: 35px !important;
    font-family: Arial !important;
}

ul{
    float: left;
    display: flex;
}

ul li{
    list-style: none;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

/* form-area */

.form-area{
    background: #fff;
}

.form-area td{
    text-align: center;
    vertical-align: middle;
}

.delete_all{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.delete_all:hover{
    text-decoration: none;
    color: #ff7200;
}

.project_image{
    width: 15%;
}

.project_image img{
    width: 100%;
}